<div class="container" ng-controller='comentController'>
    <a href="/">Go back</a>
    <div class="panel panel-default" ng-init="getBook()">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{book.img_url}}" alt="" class="thumbnail">
                    <div ng-controller="StarCtrl"><button ng-click="setRating()">haha</button>
                    </div>
                </div>
                <div class="col-md-8">
                    <ul class="list-group list-group-item">
                        <li class="list-group-item">
                            <strong>Title: </strong>{{book.title}}</li>
                        <li class="list-group-item">
                            <strong>Author: </strong>{{book.author}}</li>
                        <li class="list-group-item">
                            <strong>Genre: </strong>{{book.genre}}</li>
                        <li class="list-group-item">
                            <strong>Pages: </strong>{{book.pages}}</li>
                        <li class="list-group-item">
                            <strong>Published by </strong>{{book.published}}</li>
                        <li class="list-group-item">
                            <strong>Description: </strong>{{book.description}}</li>
                        <li class="list-group-item">
                            <a class="btn btn-default" href="{{book._id}}">
                                <span class="glyphicon glyphicon-heart"></span> Favourite</a>
                            <a class="btn btn-default" href="{{book._id}}">
                                <span class="glyphicon glyphicon-ok-circle"></span> Read</a>
                            <a class="btn btn-default" href="{{book._id}}">
                                <span class="glyphicon glyphicon-retweet"></span> Still read</a>
                            <a class="btn btn-default" href="{{book._id}}">
                                <span class="glyphicon glyphicon-tag"></span> To read</a>
                            <a class="btn btn-default" href="{{book.buy_url}}">
                                <span class="glyphicon glyphicon-usd"></span> Amazon</a>
                        </li>
                        <li class="list-group-item" ng-init="getComents()">
                            <div class="titleBox">
                                <label>
                                    <strong>Comment Box</strong>
                                </label>
                            </div>
                            <div class="actionBox">
                                <ul class="commentList">
                                    <li ng-repeat="coment in coments | filter">
                                        <div class="commenterImage">
                                            <img ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Circle-icons-profle.svg/120px-Circle-icons-profle.svg.png"
                                            />
                                        </div>
                                        <div class="commentText">
                                            <p>
                                                <strong>{{coment.author.username}}</strong>
                                            </p>
                                            <p class="">{{coment.text}}</p>
                                            <span class="date sub-text">on {{coment.date}}</span>
                                        </div>

                                        <div class="container" ng-submit="addLikesForComent()">
                                            <a class="like" ng-model="coment._id" ng-click="getLike()">
                                                <a class="btn btn-default glyphicon glyphicon-hand-up" ng-click=""></a>
                                                <input class="qty1" name="qty1" readonly="readonly" type="text" value="0" ng-model="rating.likes" />
                                            </a>
                                            <a class="dislike" ng-model="coment._id" ng-click="getDisLike()">
                                                <a class="btn btn-default glyphicon glyphicon-hand-down"></a>
                                                <input class="qty2" name="qty2" readonly="readonly" type="text" value="0" ng-model="rating.dislikes" />
                                            </a>
                                        </div>

                                    </li>
                                </ul>
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Your comments" id="comentar" />
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-default" ng-click="addComent()">Add</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>