<div class="container" ng-controller='comentController'>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <div class="col-sm-8 bookDetailsButton">
        <a href="/MyBooks"> <button id="bookDetailsButton" type="button" class="btn btn-primary">Go Back</button></a>
    </div>
    <div class="panel panel-default" ng-init="getBook()">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{book.img_url}}" alt="" class="thumbnail">
                    <div class="stars">
                        <form action="">
                            <input class="star star-5" id="star-5" type="radio" name="star" value="5" />
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star" value="4" />
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="star" value="3" />
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="star" value="2" />
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="star" value="1" />
                            <label class="star star-1" for="star-1"></label>
                        </form>
                    </div>
                </div>
                <div class="col-md-8">
                    <ul class="list-group list-group-item">
                        <li class="list-group-item"><strong>Title: </strong>{{book.title}}</li>
                        <li class="list-group-item"><strong>Author: </strong>{{book.author}}</li>
                        <li class="list-group-item"><strong>Genre: </strong>{{book.genre}}</li>
                        <li class="list-group-item"><strong>Pages: </strong>{{book.pages}}</li>
                        <li class="list-group-item"><strong>Published by </strong>{{book.published}}</li>
                        <li class="list-group-item"><strong>Description: </strong>{{book.description}}</li>

                        <li class="list-group-item">
                            <button class="btn btn-success" ng-controller='favBookController' ng-click="addFavBook()"><span class="glyphicon glyphicon-heart"></span> Favourite</button>
                            <button class="btn btn-warning" ng-controller='readBookController' ng-click="addReadBook()"><span class="glyphicon glyphicon-ok-circle"></span> Read</button>
                            <button class="btn btn-info" ng-controller='stillReadBookController' ng-click="addStillReadBook()"><span class="glyphicon glyphicon-retweet"></span> Still read</button>
                            <button class="btn btn-danger" ng-controller='toReadBookController' ng-click="addToReadBook()"><span class="glyphicon glyphicon-tag"></span> To read</button>
                            <a class="btn btn-primary" href="{{book.buy_url}}"><span class="glyphicon glyphicon-usd"></span> Amazon</a>
                        </li>
                        <li class="list-group-item" ng-init="getComents()">
                            <div class="titleBox">
                                <label><strong>Comment Box</strong></label>
                            </div>
                            <div class="actionBox">
                                <ul class="commentList">
                                    <li ng-repeat="coment in coments | filter">
                                        <div class="commenterImage">
                                            <img ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Circle-icons-profle.svg/120px-Circle-icons-profle.svg.png" />
                                        </div>
                                        <div class="commentText">
                                            <p><strong>{{coment.author.username}}</strong></p>
                                            <p class="">{{coment.text}}</p> <span class="date sub-text">on {{coment.date}}</span>
                                            <span class="btn btn-primary glyphicon glyphicon-thumbs-up" ng-click="editComent(coment._id)">&nbsp{{coment.likes}}</span>
                                        </div>
                                    </li>
                                </ul>
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Your comments" id="comentar" />
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-primary" ng-click="addComent()">Add</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>