<body style="">
    <div class="container">
        <div class="row">

            <h2>Search</h2>

            <nav class="navbar navbar-default">
                <div class="nav nav-justified navbar-nav">
                    <form class="navbar-form navbar-search" role="search">
                        <div class="input-group">
                            <div class="input-group-btn open">
                                <button type="button" class="btn btn-search btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-search"></span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-left" role="menu">
                                    <li>
                                        <a href="/srcByAuthor">
                                            <span class="glyphicon glyphicon-user"></span>
                                            <span class="label-icon">Search By Author</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/srcByTitle">
                                            <span class="glyphicon glyphicon-book"></span>
                                            <span class="label-icon">Search By Title</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/srcByGenre">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                            <span class="label-icon">Search By Genre</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/srcByRating">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="label-icon">Search By Top Rating</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <input type="text" class="form-control">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-search btn-default">
                                    <span class="label-icon">Search</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</body>