<div class="page-header" ng-init="getBooks()" ng-controller="bookController">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-10">
                        <h3>Bookshelves
                            <strong>{{main.username}}</strong>
                        </h3>
                    </div>
                </div>
                <div class="list-group">
                    <a href="/MyBooks/favourites" class="list-group-item">Favorite books</a>
                    <a href="/MyBooks/reads" class="list-group-item">Books to be read</a>
                    <a href="/MyBooks/stillreadbooks" class="list-group-item">Books currently being read</a>
                    <a href="/MyBooks/toreadbooks" class="list-group-item">Books have been read</a>
                </div>
                <div class="col-md-12 addBooksCommentButtons">
                    <a href="/MyBooks/add">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-download-alt Try it"></span> Add review</button>
                    </a>
                    <span>|</span>
                    <a href="/MyBooks/show_comments">
                        <button type="button" class="btn btn-primary">Show my comments
                            <span class="glyphicon glyphicon-book	Try it"></span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <form class="navbar-form" role="search">
                    <div id="searchInMyBooks" class="col-md-12">
                        <label for="srch-term">Add book to shelves</label>
                        <div class="input-group add-on">
                            <input class="form-control" placeholder="Title / Author / Genre" name="srch-term" id="srch-term" type="text" ng-model="text">
                            <div class="input-group-btn">
                                <a href="/search" class="btn btn-primary" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </a>
                            </div>
                        </div>
                        <!-- track by $index -->
                        <div class="row">
                            <div class="input-group add-on" ng-show="text.length > 0">books matching
                                <strong>"{{text}}"</strong>
                            </div>
                            <ul class="dropdown-item list-group scrollStyle">
                                <!-- cont-from-search result-box-frs list-group-item -->
                                <li ng-repeat="book in books | filter: text" ng-show="text.length > 0" class="cont-from-search">
                                    <div class="col-md-1">
                                        <img ng-src="{{book.img_url}}" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <p>
                                            <strong>{{book.title}}</strong>
                                        </p>
                                        <span>by {{book.author}}</span>
                                        <!-- <br>
                                        <span>Rating: {{book.rating.ratinStat}}</span> -->
                                    </div>
                                    <div class="col-md-3">
                                        <a href="details/{{book._id}}" class="btn btn-success">Want to read</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>