<div class="page-header" ng-controller="readBookController">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-10">
                        <h3>Bookshelves <strong>{{main.username}}</strong></h3>
                    </div>
                </div>
                <div class="list-group">
                    <a href="/MyBooks/favourites" class="list-group-item">Favorite books</a>
                    <a href="/MyBooks/reads" class="list-group-item">Books to be read</a>
                    <a href="/MyBooks/stillreadbooks" class="list-group-item">Books currently being read</a>
                    <a href="/MyBooks/toreadbooks" class="list-group-item">Books have been read</a>
                </div>
                <div class="col-sm-8">
                    <a href="/MyBooks" class="btn btn-primary"><span class="glyphicon glyphicon-circle-arrow-left	Try it"></span> Go back</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel row scrollStyle">
                    <h4>Favourites Books:</h4>
                    <table class="table table-filter" ng-init="getReadBooksCurrentUser()">
                        <thead>
                            <tr class="col-md-12">
                                <th class="col-md-2">cover</th>
                                <th class="col-md-2">title</th>
                                <th class="col-md-2">author</th>
                                <th class="col-md-2">pages</th>
                                <th class="col-md-2">date add</th>
                                <th class="col-md-2">edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="readBook in readBooks | filter: text" class="col-md-12">
                                <td class="col-md-2">
                                    <img class="img-responsive img-thumbnail" ng-src="{{readBook.book.img_url}}" alt="pic">
                                </td>
                                <td class="col-md-2">
                                    <span class="title">{{readBook.book.title}}</span>
                                </td>
                                <td class="col-md-2">
                                    <span class="summary">{{readBook.book.author}}</span>
                                </td>
                                <td class="col-md-2">
                                    <span class="summary">{{readBook.book.pages}}</span>
                                </td>
                                <td class="col-md-2">
                                    <span class="summary">{{readBook.book.create_date}}</span>
                                </td>
                                <td class="col-md-2">
                                    <span class="btn btn-danger glyphicon glyphicon-remove" ng-click="deleteReadBook(readBook._id)"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>