<div class="page-header" ng-controller="bookController">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-10">
                        <h3>Bookshelves
                            <strong>{{main.username}}</strong>
                        </h3>
                    </div>
                </div>
                <div class="list-group">
                    <a href="/MyBooks/favourites" class="list-group-item">Favorite books</a>
                    <a href="/MyBooks/reads" class="list-group-item">Books to be read</a>
                    <a href="/MyBooks/stillreadbooks" class="list-group-item">Books currently being read</a>
                    <a href="/MyBooks/toreadbooks" class="list-group-item">Books have been read</a>
                </div>
                <div class="col-sm-8">
                    <a href="/MyBooks"><button class="btn btn-primary"><span class="glyphicon glyphicon-circle-arrow-left	Try it "></span> Go back</button></a>
                </div>
            </div>
            <div class="col-md-8">

                <div class="container" ng-init="getComentFromCurrentUser()">
                    <div class="col-md-8">
                        <div class="titleBox">
                            <label>
                                <strong>My Comments:</strong>
                            </label>
                        </div>
                        <div class="actionBox">
                            <ul class="commentList">
                                <li ng-repeat="coment in coments | filter">
                                    <div class="commenterImage">
                                        <img ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Circle-icons-profle.svg/120px-Circle-icons-profle.svg.png" />
                                    </div>
                                    <div class="commentText">
                                        <p>
                                            <strong>{{coment.author.username}}</strong>
                                        </p>
                                        <p class="">{{coment.text}}</p>
                                        <span class="date sub-text">on {{coment.date}}</span>
                                        <button class="btn btn-default" ng-click="deleteComent(coment._id)">delete
                                            <span class="glyphicon glyphicon-trash Try it"></span>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>