main {
    padding-top: 30px;
}

header .navbar {
    border-radius: 0;
}

.show-hide-message.ng-hide-remove {
    -webkit-animation: zoomIn 0.3s both ease;
    -moz-animation: zoomIn 0.3s both ease;
    animation: zoomIn 0.3s both ease;
}

.spinner {
    -webkit-animation: spin 1s infinite;
    -moz-animation: spin 1s infinite;
    animation: spin 1s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}


/*  */

body {
    background-color: rgba(244, 241, 234, 0.5);
}

/* div>img {
    width: 100%;
} */

.userShelvesBookCounts {
    display: inline-block;
    width: 5%;
    float: left
}

.userShelvesBook {
    display: inline-block;
    width: 80%;
}

.currentlyReadingShelf {
    border-bottom: 2px solid brown;
    padding: 2%;
}

/* .form-group>img {
    float: left;
} */

.gr-mediaBox {
    width: 60%;
    display: inline-block;
    float: left;
    padding: 0 0 0 5%;
}

.gr-mediaBox>input {
    width: 40%;
}

.form-group>img {
    width: 100%;
}

.cont-from-search {
    display: inline-block;
    border-bottom: 1px solid grey;
    border-left: 1px solid burlywood;
    border-right: 1px solid burlywood;
    border-top: none;
    padding: 10px;
    background-color: rgb(235, 230, 230);
    width: 100%;
    height: 75px;
}

.cont-from-search:hover {
    background-color: rgb(219, 207, 207);
    cursor: pointer;
}

.cont-from-search>div {
    padding: 0;
}

.cont-from-search>div>img {
    max-height: 60px
}

.small-inf-search {
    display: inline-block;
    width: 65%;
    float: right;
}

.small-inf-search>span {
    font-size: 0.8em;
}

.row>div>h3 {
    margin-top: 10px;
}

#searchInMyBooks {
    text-align: right;
    margin: 0;
}

.navbar-form {
    display: inline-block;
    width: 100%;
}

.cont-from-search {
    box-sizing: content-box;
}

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);
.detailBox {
    width: 320px;
    border: 1px solid #bbb;
    margin: 50px;
}

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
}

.titleBox label {
    color: #444;
    margin: 0;
    display: inline-block;
}

.commentBox {
    padding: 10px;
    border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child,
.actionBox .form-group:first-child {
    width: 80%;
}

.commentBox .form-group:nth-child(2),
.actionBox .form-group:nth-child(2) {
    width: 18%;
}

.actionBox .form-group * {
    width: 100%;
}

.taskDescription {
    margin-top: 10px 0;
}

.commentList {
    padding: 0;
    list-style: none;
    max-height: 200px;
    overflow: auto;
}

.commentList li {
    margin: 0;
    margin-top: 10px;
}

.commentList li>div {
    display: table-cell;
}

.commenterImage {
    width: 30px;
    margin-right: 5px;
    height: 100%;
    float: left;
}

.commenterImage img {
    width: 100%;
    border-radius: 50%;
}

.commentText p {
    margin: 0;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.actionBox {
    border-top: 1px dotted #bbb;
    padding: 10px;
}


/* input for book */

.red {
    color: red;
}

.form-area {
    background-color: #FAFAFA;
    padding: 10px 40px 60px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
}

.actionBox {
    border: 1px solid #ddd;
}
/* HOME */
.rowImage{
    margin: 5px;
}

.imagePosition{
display: inline-block;
}
.randomImages{
    margin: 5px;
    width:100px;
    height:130px;
}
#list{
    margin-left: 3.5%;
}
.bookDetailsButton{
    padding: 10px;
    margin-left: 0.6%;
}
.addBooksCommentButtons{
    text-align: center;
}
.yourBooks{
    text-align: center;
    padding: 2% 0;
}
/* .homeLeftSide{
    float: left;
} */


/* images */
.limit { width: 100%; height: 500px; max-height:500px; overflow:hidden; }
 .limit img { max-width: 100%; max-height: 100%; }